# PYTHON DATA TYPES

1. int
2. Float
3. Complex
4. String

5. List
6. Tuple
7. Set
8. Dictionary

In [2]:
#int
my_int = 10
type(my_int)

int

In [3]:
#float
my_float = 10.5
type(my_float)

float

# Operations on Numerical Data Types
1. Arithmatic
2. Assignment
3. Boolean
4. Comparison
5. Logical

# Division
1. Integer division

    a. Returns integer only
    
    b. It uses // operator
    
    c. It only returns the quotient of the division
    
    
2. Float Division

    a. Returns Float 
    
    b. It uses / operator
    
    c. It returns the complete division

In [1]:
my_int = 10
print(my_int + 4) #Addition
print(my_int - 4) #Substration
print(my_int * 4) #Multiplication
print(my_int // 4) #Int division
print(my_int / 4) #Float division
print(my_int ** 4) #Power

14
6
40
2
2.5
10000

In [2]:
my_float = 10.5
print(my_float + 4) #Addition
print(my_float - 4) #Substration
print(my_float * 4) #Multiplication
print(my_float // 4) #Int division
print(my_float / 4) #Float division
print(my_float ** 4) #Power

14.5
6.5
42.0
2.0
2.625
12155.0625

In [32]:
#Assignment Operator
my_int+=10
my_int

20

In [5]:
#Boolean Operator
my_bool_float = 0.0
my_bool_int = 0
print(bool(my_bool_float))
print(bool(my_bool_int))

False
False

# Comaprison operators

    ==

    !=

    <=

    >=

    >

    <

In [6]:
val_1 = 10
val_2 = 11

print(val_1 == val_2) #Equals
print(val_1 <= val_2) #Less than or equals
print(val_1 >= val_2) #Greater than or equals
print(val_1 != val_2) #Not Equals
print(val_1 > val_2) #Greater than
print(val_1 < val_2) #less than

False
True
False
True
False
True

In [49]:
#Logical Operator
bool1 = False
bool2 = True

print(not bool2)

False

# String 

1. We enclose it in single/double quotes
2. It takes bytes according to the number of character

# Slicing

1. Indexing

    a. Starts from 0
    
    b. Last index is always one less that the total length
    
2. Slicing

    a. cutting down the string accorinng to our need

In [8]:
string = "Hello Python"

print(string)

print(string[0], string[5]) #Accesing chars of a string

print(string[1:]) #Forward slicing

print(string[:-1]) #Backward slicing

print(string[2:7]) #Getting middle of a string

print(string + " Language") #Concating the string

string1 = " Hello World"
string1 = string1.strip() #Strip function to remove the spaces 
print(string1)

sub_string1,sub_string2 = string1.split(" ") #Split function to split the string by space
print(sub_string1,sub_string2)

Hello Python
H
ello Python
Hello Pytho
llo P
Hello Python Language
Hello World
Hello World

# List

1. collective datatype
2. To initiate list we use []
3. We can add any data type in list
4. We have functions like sort, append and sum in list

In [10]:
my_list = [2,1]
print(my_list)

print(my_list[0]) #Accesing elements of list

my_list.append(3) #Append function
print(my_list)

my_list.append("Hello")#Appending different data type
print(my_list)

my_list.append([1,2]) #Appending another list in a list
print(my_list)

my_list[0] = 7 #Changing the value of a list after assignment
print(my_list)

sub_list = [9,5,4,2,9,4]

sub_list = sorted(sub_list)#Sorting the list
print(sub_list)

print(sum(sub_list))#Sum function

[2, 1]
2
[2, 1, 3]
[2, 1, 3, 'Hello']
[2, 1, 3, 'Hello', [1, 2]]
[7, 1, 3, 'Hello', [1, 2]]
[2, 4, 4, 5, 9, 9]
33

# Tuple

1. Collective Datatype
2. Immutable
3. It is enclosed in parathesis

In [11]:
my_tuple = (1,2,3, "Hello")
print(my_tuple)

print(my_tuple[0]) #Accessing elements

sub_tuple = (1,3,4)
print(sorted(sub_tuple)) #Sort unction

print(sum(sub_tuple))#Sum function

(1, 2, 3, 'Hello')
1
[1, 3, 4]
8

# Set

1. Collective Datatype
2. It doesn't allow repeated values
3. Mutable
4. Defined in {}
5. Automatically sorted

In [16]:
set1 = {4,1,2,3,5}
print(set1)

set2 = {4,4,5,5,6,6} #Repeat values not allowed so they will be discarded
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6}

# Dictionary

1. Collective Datatype
2. stores Key value pairs 
3. Keys can't be repeated
4. Stored in curly braces

In [18]:
my_dict = {
    1 : "Mango",
    2 : "Banana",
    3 : "Apple"
}

print(my_dict.keys()) #Printing the keys 
print(my_dict.values()) #Printing the values
print(my_dict.get(2)) #Getting value by key
print(my_dict.items()) #Getting whole dict items with each key value pair in tuple
print(my_dict)

dict_keys([1, 2, 3])
dict_values(['Mango', 'Banana', 'Apple'])
Banana
dict_items([(1, 'Mango'), (2, 'Banana'), (3, 'Apple')])
{1: 'Mango', 2: 'Banana', 3: 'Apple'}

#